.recordCard {
    display: flex;
    flex-direction: column;    
    background: var(--background-color-1);    
    border-left: 4px solid var(--color-grey-2);          
    border-radius: var(--border-radius-2);   
    padding: 5px 15px 15px 15px;
    gap: 10px;        
    overflow-wrap: break-word;

    &.green {        
        border-color: var(--color-secondary);         
    }
    
    & > div:first-child{
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        min-height: 68px;   
        width: 100%;
        max-width: 337px;  
    }

    & > div:last-child{
        display: flex;    
        flex-direction: column;
        align-items: flex-start;
        gap: 6px;        
    }

    @media (min-width: 768px) {
        min-height: 87px;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 15px;

        & > div:first-child {
            justify-content: space-between;
            padding-bottom: 4px;
        }

        & > div:last-child {            
            justify-content: center;
            align-items: flex-end;            
        }
    }
}  